body
{
  /* Background pattern from subtlepatterns.com */
  background-image: url("tlo.png");
}

# container
{
  width: 1500;
  margin-left: auto;
  margin-right: auto;
}

#headd
{
background-color: #111;
color: white;
height: 50px;
font-size: 30px;
font-weight: 700;
text-align: center;
}


.content {
margin-left: 20px;
float: left;
}

.btn-group-vertical {
float:left;
width: 163px;
}

.btn {
height: 63px;
}

.ad {
float:left;
}

#myFrame {
float:left;
text-align: left;
height: 736px;
}
